<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./rooms.css">
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
    <script defer src="./rooms.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="container">
        <div id="rooms-container"></div>

        <div id="chat-container">
            <div id="chats">
                <div class="chat-message">
                    <span class="sender">Admin: </span>
                    <span class="message">Hello world</span>
                </div>
                <div class="chat-message">
                    <span class="sender">Admin: </span>
                    <span class="message">Hello world</span>
                </div>

                <div class="chat-message">
                    <span class="sender">Admin: </span>
                    <span class="message">Hello world Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem maxime vel voluptas veniam aliquid ea quos rem eveniet a, odio quae, molestiae, amet quidem officia sequi assumenda eum consequatur. Vero at vel totam omnis voluptatem saepe. Blanditiis possimus placeat ex at tempore fuga quaerat id ullam repudiandae dolor amet dolores impedit asperiores, ratione hic qui, quas laudantium minus sunt sit, praesentium est maxime? Magni numquam facere doloribus id esse suscipit cupiditate facilis? Qui quos aspernatur molestiae vitae dolore, nesciunt voluptates repellat? Deserunt et sunt vero ipsum numquam quaerat quos animi, delectus voluptatum soluta nobis repellat velit quibusdam distinctio accusantium dolores.</span>
                </div>
                <div class="chat-message">
                    <span class="sender">Admin: </span>
                    <span class="message">Hello world</span>
                </div><div class="chat-message">
                    <span class="sender">Admin: </span>
                    <span class="message">Hello world</span>
                </div>
                <div class="chat-message">
                    <span class="sender">Admin: </span>
                    <span class="message">Hello world</span>
                </div><div class="chat-message">
                    <span class="sender">Admin: </span>
                    <span class="message">Hello world</span>
                </div>
                <div class="chat-message">
                    <span class="sender">Admin: </span>
                    <span class="message">Hello world</span>
                </div><div class="chat-message">
                    <span class="sender">Admin: </span>
                    <span class="message">Hello world</span>
                </div><div class="chat-message">
                    <span class="sender">Admin: </span>
                    <span class="message">Hello world</span>
                </div><div class="chat-message">
                    <span class="sender">Admin: </span>
                    <span class="message">Hello world</span>
                </div><div class="chat-message">
                    <span class="sender">Admin: </span>
                    <span class="message">Hello world</span>
                </div><div class="chat-message">
                    <span class="sender">Admin: </span>
                    <span class="message">Hello world</span>
                </div><div class="chat-message">
                    <span class="sender">Admin: </span>
                    <span class="message">Hello world</span>
                </div>


                
            </div>
            <input id="chat-input">
        </div>
    </div>
</body>
</html>