<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./rooms.css">
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
    <script defer src="./rooms.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="container">
        <div id="rooms-container"></div>

        <div id="chat-container">
            <div id="chats">
                <div class="chat-message">
                    <span class="sender">Admin: </span>
                    <span class="message">Hello world</span>
                </div>
                <div class="chat-message">
                    <span class="sender">Admin: </span>
                    <span class="message">Hello world</span>
                </div>
            </div>
            <input id="chat-input">
        </div>
    </div>
</body>
</html>