<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./style.css">
    <script defer src="./index.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="container">
        <div id="background-blur"></div>
        <h1>Log in</h1>
        <div class="input-field">
            <input id="username">
        </div>

        <div class="input-field">
            <input id="password" type="password">
        </div>
        <button id="button">COMMENCE</button>
    </div>
</body>
</html>