*{
    box-sizing: border-box;
}

body{
    align-items: center;
    background-image: url("./wallhaven-5gd2d1.jpg");
    background-position: -100px -200px;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    width: 100vw;
}

#container{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 80px;
    position: relative;
}

#container > #background-blur{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50px;
    filter: blur(30px);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

#container > h1{
    color: rgb(255, 255, 255);
    text-shadow: 0 1px 5px rgb(0, 0, 0);
}


/* Input field */
.input-field, #button{
    height: 55px;
    margin-bottom: 10px;
    width: 500px;
    z-index: 1;
}

.input-field > input, #button{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    letter-spacing: 0.5px;
}

.input-field > input{
    outline: none;
    border-radius: 10px;
    height: 100%;
    padding: 5px 10px;
    width: 100%;
}

#button{
    border-radius: 10px;
    margin-bottom: 0;
    margin-top: 10px;
    transition: all 0.05s;
}

#button:active{
    background-color: rgba(255, 255, 255, 0.4);
    color:rgb(0, 0, 0);
}